.container00 {
  &.container08 {
    background-image: url(../../assets/humanFlight-20221215T131402Z-001/humanFlight/01.jpg);
  }

  &.container09 {
    background-image: url(../../assets/humanFlight-20221215T131402Z-001/humanFlight/02.jpg);
  }

  &.container10 {
    background-image: url(../../assets/humanFlight-20221215T131402Z-001/humanFlight/03.jpg);
  }

  &.container11 {
    background-image: url(../../assets/humanFlight-20221215T131402Z-001/humanFlight/04.jpg);
  }

  &.container12 {
    background-image: url(../../assets/humanFlight-20221215T131402Z-001/humanFlight/05.jpg);
  }
}

.container01Content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;

  .titleHuman {
    font-size: 120px;
  }

  .subtitleHuman {
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.earthDesc {
  align-items: center;
  background-color: #000000;
  display: flex;
  height: 25vh;
  justify-content: center;

  .textDescriptionEarth {
    color: $table-item;
    font-size: 20px;
    font-weight: 400;
    width: 800px;
  }
}

.containerRightContent {
  margin-left: 55%;
  padding-top: 15%;
}

.containerLeftContent {
  margin-left: 5%;
  padding-top: 15%;
}

.titleSession {
  font-size: 60px;
  font-weight: bold;
}

.subtitleSession {
  font-weight: 300;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .container01Content {
    .titleHuman {
      font-size: 90px;
    }
  }

  .containerRightContent,
  .containerLeftContent {
    margin-left: 15%;
  }

  .earthDesc {
    .textDescriptionEarth {
      font-size: 18px;
      font-weight: 400;
      width: auto;
    }
  }
}

@media (max-width: 610px) {
  .container01Content {
    .titleHuman {
      font-size: 60px;
    }

    .subtitleHuman {
      font-size: 24px;
    }
  }

  .containerRightContent,
  .containerLeftContent {
    margin-left: 5%;
  }

  .titleSession {
    font-size: 50px;
  }
}

@media (max-width: 375px) {
  .container01Content {
    .titleHuman {
      font-size: 40px;
    }

    img {
      width: 100px;
    }
  }
}
